<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Awesome Search</h1>

    <form action="search">
        <label for="query_id">Search For</label><br>
        <input type="text" name="query" id="query_id"/><br>
<br>
        <label for="num_id">Number Of Tweets</label><br>
        <input type="text" name="num" id="num_id"/><br>
<br>
        <button type="submit">Search</button>
    </form>

</body>
</html>